<section>
<div  class="shadow rounded-4 my-4 p-2 mx-auto w-75 container">
    <h2 class="h1 fw-lighter">Register Now:</h2>
    @if(errorMsg){<p class="alert alert-danger m-0 text-center my-1 w-50 mx-auto">{{errorMsg}}</p>}
    @if (successMsg) {<p class="m-0 text-center">{{successMsg}}</p>}    
    <form [formGroup]="registerForm" (ngSubmit)="register()" >
        <div>
                <label for="name">Name</label>
                <input 
                    [ngClass]="{'is-valid' : ! registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty),
                            'is-invalid' :   registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty) 
                            }"
                    id="name" type="text" class="form-control my-2" formControlName="name">
        </div>
        @if (registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty) ) 
        {
            <div class="alert alert-danger w-50 mx-auto">
                @if     (registerForm.get('name')?.getError('required' ))  {<p class="m-0 text-center">name is req.</p>}
                @else if(registerForm.get('name')?.getError('minlength'))  {<p class="m-0 text-center">name must be greater than 3 characters.</p>}
                @else if(registerForm.get('name')?.getError('maxlength'))  {<p class="m-0 text-center">name must be less than 20 characters.</p>}
            </div>
        }
        <div>
            <label for="email">email</label>
            <input 
            [ngClass]="{
                'is-valid' : ! registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty),
                'is-invalid' :   registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty) 
            }"
            id="email" type="email" class="form-control my-2" formControlName="email">
        </div>
        @if (registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty) ) 
        {
            <div class="alert alert-danger w-50 mx-auto">
                @if     (registerForm.get('email')?.getError('required' ))  {<p class="m-0 text-center">email is req.</p>}
                @else if(registerForm.get('email')?.getError('email'))  {<p class="m-0 text-center">email isn't valid.</p>}
            </div>
        }
        <div>
            <label for="password">password</label>
            <input 
            [ngClass]="{'is-valid' : ! registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty),
            'is-invalid' :   registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty) 
            }"
            id="password" type="password" class="form-control my-2" formControlName="password">
        </div>
        @if (registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty) ) 
        {
            <div class="alert alert-danger w-50 mx-auto">
                @if     (registerForm.get('password')?.getError('required' ))  {<p class="m-0 text-center">password is req.</p>}
                @else if(registerForm.get('password')?.getError('pattern'))    {<p class="m-0 text-center">password is't valid.</p>}
            </div>
        }
        <div>
            <label for="age">age</label>
            <input 
            [ngClass]="{'is-valid' : ! registerForm.get('age')?.errors && (registerForm.get('age')?.touched || registerForm.get('age')?.dirty),
            'is-invalid' :   registerForm.get('age')?.errors && (registerForm.get('age')?.touched || registerForm.get('age')?.dirty) 
            }"
            id="age" type="number" class="form-control my-2" formControlName="age">
        </div>
        @if (registerForm.get('age')?.errors && (registerForm.get('age')?.touched || registerForm.get('age')?.dirty) ) 
        {
            <div class="alert alert-danger w-50 mx-auto">
                @if     (registerForm.get('age')?.getError('required' ))  {<p class="m-0 text-center">age is req.</p>}
                @else if(registerForm.get('age')?.getError('min'))  {<p class="m-0 text-center">age must be greater than 20.</p>}
            </div>
        }
        <div>
            <label for="phone">phone</label>
            <input 
            [ngClass]="{'is-valid' : ! registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty),
            'is-invalid' :   registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty) 
            }"
            id="phone" type="phone" class="form-control my-2" formControlName="phone">
        </div>
        @if (registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty) ) 
        {
            <div class="alert alert-danger w-50 mx-auto">
                @if     (registerForm.get('phone')?.getError('required' ))  {<p class="m-0 text-center">phone is req.</p>}
                @else if(registerForm.get('phone')?.getError('pattern'))  {<p class="m-0 text-center">enter valid phone number.</p>}
            </div>
        }
        <button [disabled]="registerForm.invalid"  type="submit" class=" btn btn-outline-info  ms-auto d-block">Register</button>
    </form>
</div>
</section>
